html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em 0;
    padding: 0;
}

p {
    margin: 0.5em 0 0 0;
    padding: 0;
}

a:link, a:visited {
    color: #1f778d;
}

a:hover, a:active {
    color: #76cbe0;
}

body > header {
    padding: 1em;
    clear: both;
    background-color: #000000;
    color: white;
    text-align: center;
}

body > header > h1 {
    margin: 0;
}

body > section {
    margin: 0.5em 20%;
    padding: 1em;
    overflow: hidden;
    background-color: white;
    color: black;
}

body > footer {
    padding: 0.5em;
    clear: both;
    background-color: #2a9fbc;
    color: #e5e5e5;
    font-size: 0.8em;
    text-align: center;
}

body > footer > p {
    margin: 0;
}

.product-summary {
    margin: 0.5em 0;
    padding: 0.5em 0;
    clear: both;
}

.product-summary > img {
    float: left;
    padding-right: 1em;
}

.product-details > img {
    float: left;
    padding-right: 1em;
}

.right-align {
    display: flex;
    justify-content: flex-end;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel-top {
    display: flex;
    justify-content: space-between; /* Links, Mitte, Rechts */
    align-items: center;            /* Vertikal ausgerichtet */
    padding: 0 10px;                /* Abstand innen */
}

.panel-top h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;                   /* Erzwingt zentrierte Überschrift */
}

.small-back-button {
    padding: 5px 10px;              /* Kleinere Größe */
    font-size: 14px;                /* Kleinere Schriftgröße */
    display: flex;                  /* Flexbox für Icon und Text */
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.right-menu-button {
    margin: 10px 0;             /* Abstand rechts */
}

.tickets-table {
    width: 100%;
    margin-top: 20px;
}

.tickets-table .ui-datatable-header {
    font-weight: bold;
    text-align: left;
}

.view-details-button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #007ad9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.view-details-button:hover {
    background-color: #005a9e;
}

.tickets-table .ui-column-filter {
    padding: 5px;
    font-size: 14px;
}
