html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em 0;
    padding: 0;
}

p {
    margin: 0.5em 0 0 0;
    padding: 0;
}

a:link, a:visited {
    color: #1f778d;
}

a:hover, a:active {
    color: #76cbe0;
}

body > header {
    padding: 1em;
    clear: both;
    background-color: #fbbe5b;
    color: black;
    text-align: center;
}

body > header > h1 {
    margin: 0;
}

body > section {
    margin: 0.5em 20%;
    padding: 1em;
    overflow: hidden;
    background-color: white;
    color: black;
}

body > footer {
    padding: 0.5em;
    clear: both;
    background-color: #e1b2f0;
    color: black;
    font-size: 0.8em;
    text-align: center;
}

body > footer > p {
    margin: 0;
}

.product-summary {
    margin: 0.5em 0;
    padding: 0.5em 0;
    clear: both;
}

.product-summary > img {
    float: left;
    padding-right: 1em;
}

.product-details > img {
    float: left;
    padding-right: 1em;
}
/* styles.css */

.top-panel {
    display: flex;
    align-items: center; /* Vertikal zentriert */
    justify-content: space-between; /* Abstand zwischen Abschnitten */
    padding: 0 10px; /* Optional: Horizontaler Innenabstand */
}

.menu-wrapper {
    flex: 0; /* Keine Skalierung */
}

.welcome-message {
    flex: 1; /* Nutzt den restlichen Platz */
    text-align: center; /* Text im mittleren Abschnitt zentrieren */
}


.burger-menu {
    border-radius: 4px;
    padding: 5px;
}

